{{ partial "header" .}}

  <h1 id="title"> {{ .Title }}</h1>
  {{ .Content }}

  <div class="post-list">
    {{ range .Pages.ByPublishDate.Reverse }}
   
    <div class="post-container" style="width: 700px;height: 300px; padding: 10px; margin: 10px;">
      <a href="{{.Permalink}}">
       <center>
        {{ if .Params.video }}
        <iframe width="450" height="250" src="{{ .Params.video }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        {{ else if .Params.featureimage }}
        <img src="{{ .Params.featureimage }}" style="max-width: 350px;max-height: 250px;"> </img>
        {{ else }}
        {{ end }}
        <h4 style="margin: 0px">
          {{ .Title }}
        </h4>
      </center>
      </a>  
      </div>
    {{ end }}
  </div>

  

{{ partial "footer" .}}